{% load static %}

<!DOCTYPE html>
<html lang="en-us" dir="ltr" data-theme="dark">

<head>
  <title>DRM</title>
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <link rel="stylesheet" href="/static/admin/css/base.css">
  <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
  <script src="/static/admin/js/theme.js"></script>
  <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer=""></script>
  <link rel="stylesheet" href="/static/admin/css/changelists.css">
  <script src="/admin/jsi18n/"></script>
  <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
  <script src="/static/admin/js/jquery.init.js"></script>
  <script src="/static/admin/js/core.js"></script>
  <!-- <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script> -->
  <script src="/static/admin/js/actions.js"></script>
  <script src="/static/admin/js/urlify.js"></script>
  <script src="/static/admin/js/prepopulate.js"></script>
  <!-- <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script> -->
  <!-- <script src="/static/admin/js/filters.js" defer=""></script> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/admin/css/responsive.css">
  <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body>
  <div id="container">
    <header id="header">
      <div id="branding">
        <div id="site-name"><a href="/admin/">Django administration</a></div>
      </div>
      <div id="user-tools">
        Welcome,
        <strong>khushal</strong>.
        <a href="/">View site</a> /
        <form id="logout-form" method="post" action="/admin/logout/">
          <input type="hidden" name="csrfmiddlewaretoken"
            value="SMDXDlSLBrMBUmQ6P6yskioGmeb2y8bmCDk4p86AUnXdADZwIoaKAeXe9xZUo7Ea">
          <button type="submit">Log out</button>
        </form>
        <button class="theme-toggle">
          <span class="visually-hidden theme-label-when-auto">Toggle theme (current theme: auto)</span>
          <span class="visually-hidden theme-label-when-light">Toggle theme (current theme: light)</span>
          <span class="visually-hidden theme-label-when-dark">Toggle theme (current theme: dark)</span>
          <svg aria-hidden="true" class="theme-icon-when-auto">
            <use xlink:href="#icon-auto"></use>
          </svg>
          <svg aria-hidden="true" class="theme-icon-when-dark">
            <use xlink:href="#icon-moon"></use>
          </svg>
          <svg aria-hidden="true" class="theme-icon-when-light">
            <use xlink:href="#icon-sun"></use>
          </svg>
        </button>
      </div>
    </header>
    <div class="main shifted" id="main">
      <button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Toggle navigation"></button>
      <nav class="sticky" id="nav-sidebar" aria-label="Sidebar" aria-expanded="true">
        <div class="app-auth module current-app">
          <table>
            <caption>
              <h3 class="section">Django Resource Monitor</h3>
            </caption>
            <tbody>
              <tr class="model-group">
                <th scope="row" id="auth-group">
                  <a href="#">Resources</a>
                </th>
              </tr>
              <tr class="model-user current-model">
                <th scope="row" id="auth-user">
                  <a href="#" aria-current="page">Processes</a>
                </th>
              </tr>
              <tr class="model-user current-model">
                <th scope="row" id="auth-user">
                  <a href="#" aria-current="page">Services</a>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </nav>
      <main id="content-start" class="content" tabindex="-1">
        <!-- Content -->
        <div id="content" class="">
          <div class="changelist-form-container">
            <div id="toolbar">
              <form id="changelist-search" method="get" role="search">
                <div><!-- DIV needed for valid HTML -->
                  <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
                  <input type="text" size="40" name="q" value="" id="searchbar">
                  <input type="submit" value="Search">
                </div>
              </form>
            </div>
            <form id="changelist-form" method="post" novalidate=""><input type="hidden" name="csrfmiddlewaretoken"
                value="PfgUErmLXp9SqtuCSF2IVpstzrkuc4vsz6X1qeAAglku6KD2LXE0bl11mK8m23Yg">
              <div class="actions">
                <label>Action: <select name="action" required="">
                    <option value="" selected="">---------</option>
                    <option value="delete_selected">Delete selected users</option>
                  </select></label><input type="hidden" name="select_across" value="0" class="select-across">
                <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
                <span class="action-counter" data-actions-icnt="1">0 of 1 selected</span>
              </div>
              <div class="results">
                <table id="result_list">
                  <thead>
                    <tr>

                      <th scope="col" class="action-checkbox-column">

                        <div class="text"><span><input type="checkbox" id="action-toggle"
                              aria-label="Select all objects on this page for an action"></span></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-username sorted ascending">

                        <div class="sortoptions">
                          <a class="sortremove" href="?o=" title="Remove from sorting"></a>

                          <a href="?o=-1" class="toggle ascending" title="Toggle sorting"></a>
                        </div>

                        <div class="text"><a href="?o=-1">Pid</a></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-email">

                        <div class="text"><a href="?o=2.1">Name</a></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-first_name">

                        <div class="text"><a href="?o=3.1">Memory %</a></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-last_name">

                        <div class="text"><a href="?o=4.1">CPU %</a></div>
                        <div class="clear"></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for process in processes %}
                    <tr>
                      <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="1"
                          class="action-select" aria-label="Select this object for an action - {{process.pid}}"></td>
                      <th class="field-pid">{{process.pid}}</th>
                      <td class="field-name">{{process.name}}</td>
                      <td class="field-memory">{{process.memory_percent}}</td>
                      <td class="field-cpu">{{process.cpu_percent}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
        <!-- END Content -->
      </main>
    </div>
</body>

</html>